__pycache__/
*.pyc
.venv/
.env

mlruns/
mlartifacts/

data/raw/*
data/processed/*
models/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

.ipynb_checkpoints/
.DS_Store
mlruns/
mlartifacts/
mlflow.db
data/feedback/*.csv
!data/feedback/.gitkeep